@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

html,body{
    margin:0;
}

ul,li,ol{
    list-style-type: none;
    margin: 0;
    padding:0;
}

h1,h2,h3,h4,h5,h6,figure,p{margin:0;}

img{vertical-align: top;}

a{text-decoration: none;}

*{font-size:16px; box-sizing:border-box;}


/*header*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;
    position: fixed;
}
.menu{display: flex;}
.menu li {padding: 8px 12px;}
.menu li a {color:#322c27;}


/*com*/

.com{
    padding:20px 10%;
    bottom:5%; right:-100px;
    position: fixed;
    z-index: 1;
}


/*footer*/
footer div{
    padding:15px 10px;
    background-color: #322c27;
    color:#e2e2e2;
    display: flex;
    align-items: center;
}
footer div a {z-index: 1;}
footer div p{font-size: 0.8rem; z-index: 1;}
footer div p i{color:#fff; font-size: 0.8rem; z-index: 1;}
