@charset "utf-8";
@import url(common.css);

html,body{
    margin: 0;
    overflow-x: hidden;
}


/*room*/

.l202_text{margin-top:130px; text-align: center; color:#322c27;}
.l202_text p:nth-child(1){font-weight: 500; font-size: 0.9rem;}
.l202_text p:nth-child(2){font-weight:600; font-size:1.5rem;}
.l202_text p:nth-child(3){padding-top: 10px;}

.l202_01{max-width:100%;margin-top:30px; text-align:center;}


.l202_text2{margin-top:25px; text-align: center; color:#322c27;}
.l202_text2 p:nth-child(1){font-weight: 600;}
.l202_text2 p:nth-child(3){margin-top:20px;}
.l202_text2 p:nth-child(4){margin-top:20px; font-weight: 600;}
.l202_text2 p:nth-child(5){margin-top:20px; font-weight: 600;}
.l202_text2 p:nth-child(8){margin-top:20px; font-weight: 600;}
.l202_text2 p:nth-child(10){margin-top:20px; font-weight: 600;}
.l202_text2 p:nth-child(11){font-weight: 600; color:#c02712;}

.l202_02{margin-top:40px; text-align:center;}

.loveyou_text{margin-top:40px; text-align: center; font-weight:500;}
.loveu{color:#f16b6f;}
.dong1{color:#322c27;}
.loveyou{
    width: 62%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.loveyou_r{padding: 15px;}
.loveyou img:hover{opacity: 0.6;}

.onlyyou_text{margin-top:10px; text-align: center; font-weight:500;}
.onlyu{color:#aacd6e;}
.dong2{color:#322c27;}
.onlyyou {
    width: 62%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.onlyyou_r{padding: 15px;}
.onlyyou img:hover{opacity: 0.6;}

.l202_03{margin-top:40px; text-align:center;}


@media( max-width: 991px ){
    .l202_01 img{
        max-width:100%;
        padding:5%;
        margin-top:-30px;
        text-align:center;
    }
    .l202_text2{margin-top:-5px; text-align: center; color:#322c27;}
    .l202_text2 p:nth-child(1){font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(2){font-size:0.9rem;}
    .l202_text2 p:nth-child(3){margin-top:20px;font-size:0.9rem;}
    .l202_text2 p:nth-child(4){margin-top:20px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(5){margin-top:20px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(6){font-size:0.9rem;}
    .l202_text2 p:nth-child(7){font-size:0.9rem;}
    .l202_text2 p:nth-child(8){margin-top:20px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(9){padding:5%;font-size:0.9rem;}
    .l202_text2 p:nth-child(10){margin-top:10px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(11){font-weight: 600; color:#c02712;font-size:0.9rem;}

    .loveyou_text{margin-top:25px; text-align: center; font-weight:500;}
    .loveu{color:#f16b6f;font-size:0.9rem;}
    .dong1{color:#322c27;font-size:0.9rem;}

    .loveyou_r{margin-top: -20px; margin-bottom: 10px;}

    .onlyyou_text{margin-top:20px; text-align: center; font-weight:500;}
    .onlyu{color:#aacd6e;font-size:0.9rem;}
    .dong2{color:#322c27;font-size:0.9rem;}
    .onlyyou {
        width: 62%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }
    .onlyyou_r{margin-top: -20px; margin-bottom: 10px;}
}




@media( max-width: 767px ){
    .l202_text{margin-top:130px; text-align: center; color:#322c27;}
    .l202_text p:nth-child(1){font-weight: 500; font-size: 0.8rem;}
    .l202_text p:nth-child(2){font-weight:600; font-size:1.4rem;}
    .l102_text p:nth-child(3){margin-top: -5px; font-size:0.7rem;}

    .l202_01 img{
        max-width:100%;
        padding:5%;
        margin-top:-30px;
        text-align:center;
    }
    .l202_text2{margin-top:-5px; text-align: center; color:#322c27;}
    .l202_text2 p:nth-child(1){font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(2){font-size:0.9rem;}
    .l202_text2 p:nth-child(3){margin-top:20px;font-size:0.9rem;}
    .l202_text2 p:nth-child(4){margin-top:20px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(5){margin-top:20px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(6){font-size:0.9rem;}
    .l202_text2 p:nth-child(7){font-size:0.9rem;}
    .l202_text2 p:nth-child(8){margin-top:20px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(9){padding:5%;font-size:0.9rem;}
    .l202_text2 p:nth-child(10){margin-top:10px; font-weight: 600;font-size:0.9rem;}
    .l202_text2 p:nth-child(11){font-weight: 600; color:#c02712;font-size:0.9rem;}

    .loveyou_text{margin-top:25px; text-align: center; font-weight:500;}
    .loveu{color:#f16b6f;font-size:0.9rem;}
    .dong1{color:#322c27;font-size:0.9rem;}

    .loveyou_r{margin-top: -20px; margin-bottom: 10px;}

    .onlyyou_text{margin-top:20px; text-align: center; font-weight:500;}
    .onlyu{color:#aacd6e;font-size:0.9rem;}
    .dong2{color:#322c27;font-size:0.9rem;}
    .onlyyou {
        width: 62%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }
    .onlyyou_r{margin-top: -20px; margin-bottom: 10px;}
}